# ignore everything
/*

# allow configs we want to keep using this format
# !dir/
!DankMaterialShell/
!danksearch/
!dgop/
!fastfetch/
!fish/
!gh/
!hypr/
!kitty/
!nvim/
!rclone/
!systemd/
!chromium-flags.conf.notinuse
!code-flags.conf
!electron-flags.conf
!mimeapps.list
!starship.toml
!.gitignore
!README.md
!gtk-4.0/gtk.css

# ignore configs with secrets
rclone/rclone.conf