# ignore everything
/*

# allow configs we want to keep using this format
# !dir/
!DankMaterialShell/
!danksearch/
!dgop/
!fastfetch/
!fish/
!gh/
!hypr/
!kitty/
!nvim/
!rclone/
!systemd/
!gtk-4.0/
# ignore all files in gtk-4.0/ except gtk.css (must come after !gtk-4.0/)
# because gitignore processes rules in order - we need to un-ignore the directory first
gtk-4.0/*
!gtk-4.0/gtk.css
!chromium-flags.conf
!code-flags.conf
!electron-flags.conf
!mimeapps.list
!starship.toml
!.gitignore
!README.md

# ignore configs with secrets and auto generated color schemes
rclone/rclone.conf
DankMaterialShell/firefox.css
dgop/colors.json
kitty/dank-tabs.conf
kitty/dank-theme.conf